body {
    background: url('https://i.imgur.com/z7seOoz.png') no-repeat;
    color: white
}

@media (max-width: 768px){
    *{
        width: 100%;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: transparent;
}

.usercard {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
    padding: 10px;
    display: flex;
    align-items: center;
}

    .usercard span {
        font-size: 1em;
        font-weight: 600;
        margin-left: 20px;
        cursor: default;
    }

    .usercard div {
        text-align: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        left: 106px;
    }

        .usercard div a {
            color: #fff;
            font-weight: 600;
            text-decoration: none;
        }

            .usercard div a:hover {
                text-decoration: underline;
            }

.boton-mostrar {
    border-radius: 0;
    position: absolute;
    background: transparent;
    outline: none;
    border: none;
    top: 35%;
    right: 0px;
}

    .boton-mostrar i {
        color: #fff;
        font-size: 1.2em;
        font-weight: 100;
    }

.form-box {
    position: relative;
    width: 470px;
    height: 450px;
    background: #00000092;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    text-align: center;
}

.imputbox {
    position: relative;
    margin: 30px 0;
    width: 355px;
    border-bottom: 2px solid #fff;
}

    .imputbox label {
        position: absolute;
        top: -5px;
        left: 5px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 1em;
        pointer-events: none;
        transition: .5s;
    }

.input:focus ~ label,
.input:valid ~ label {
    top: -5px;
}

.imputbox .input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

    .imputbox .input:hover {
        background: transparent;
    }

.imputbox ion-icon {
    position: absolute;
    right: 5px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

    .forget a {
        color: #fff;
        text-decoration: none;
    }

        .forget a:hover {
            text-decoration: underline;
        }

.buttonCancelar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    background: red;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

    .buttonCancelar:hover {
        box-shadow: 0px 0px 10px rgb(255 255 255 / 80%);
    }

    .buttonCancelar:active {
        background-color: #970303;
        transform: translateY(2px);
    }

.button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    background: #2152f3;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

    .button:hover {
        box-shadow: 0px 0px 10px rgb(255 255 255 / 80%);
    }

    .button:active {
        background-color: #063e91;
        transform: translateY(2px);
    }

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

    .register p a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }

        .register p a:hover {
            text-decoration: underline;
        }

.ocultar {
    display: none;
}

.w-120 {
    width: 120px;
}

.w-160 {
    width: 160px;
}

.w-170 {
    width: 170px;
}

.center-row {
    display: flex;
    justify-content: center;
}

.center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader-container {
    position: absolute;
    left: 45%;
    bottom: 133px;
}

.acceso-rapido {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.img-perfil {
    width: 40px;
    height: 40px;
}

.danger {
    font-weight: bold;
    color: red;
}

.aling-row-center {
    display: flex;
    align-items: center;
}

.w-85 {
    width: 85% !important;
}

.ml-11px {
    margin-left: 11px;
}

.border-radius-7 {
    border-radius: 7px;
}

.w-10 {
    width: 10% !important;
}

/* PSEUDO-TOGGLE BUTTON MADE OF ASP.NET CHECKBOX AND CSS3*/
div.divToggleButton input[type=radio] {
    display: none;
    white-space: nowrap;
}

div.divToggleButton label {
    display: block;
    float: left;
    cursor: pointer;
}

div.divToggleButton2 input[type=radio] {
    display: none;
    white-space: nowrap;
}

div.divToggleButton2 label {
    display: block;
    float: left;
    cursor: pointer;
}

/* set the size of the pseudo-toggle button control */
div.divToggleButton input[type=radio]:checked + label::before,
div.divToggleButton input[type=radio]:not(:checked) + label::before,
div.divToggleButton input[type=radio] + label {
    width: 25px;
    height: 25px;
    line-height: 18px;
}

div.divToggleButton2 input[type=radio]:checked + label::before,
div.divToggleButton2 input[type=radio]:not(:checked) + label::before,
div.divToggleButton2 input[type=radio] + label {
    width: 25px;
    height: 25px;
    line-height: 20px;
}

/* additional styling: rounded border, gradient */
div.divToggleButton input[type=radio] + label {
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    font-family: Arial, Calibri;
    border: 2px solid #bdbdbd;
    border-radius: 50px;
    background: #f0f0f0;
}

div.divToggleButton2 input[type=radio] + label {
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    font-family: Arial, Calibri;
    border: 2px solid #bdbdbd;
    border-radius: 50px;
    background: #f0f0f0;
}

/* content to display and style pertinent to checked state*/
div.divToggleButton input[type=radio]:checked + label::before {
    content: "◉";
    color: #2196F3;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left: -2%;
    top: 2%;
}

div.divToggleButton2 input[type=radio]:checked + label::before {
    content: "◉";
    color: #2196F3;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left: -2%;
    top: 2%;
}

.display-none {
    display: none;
}

.col-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.col-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.imagen-Servicio {
    width: auto;
    height: 310px;
    border-radius: 25px;
    box-shadow: 3px 4px #00000029
}

.imagen-ver {
    width: auto;
    height: 115px;
    border-radius: 8%;
    margin-right: 15px;
}

.bg-loader {
    display: flex;
    width: 99%;
    height: 90%;
    position: absolute;
    background: #000000a6;
    left: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.container {
    padding: 0%;
}

.loading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.dot1, .dot2, .dot3 {
    animation: blink 1s infinite;
}

.dot3 {
    margin-right: 20px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.dot2 {
    animation-delay: 0.2s;
}

.dot3 {
    animation-delay: 0.4s;
}

.smaller-700 {
    font-size: smaller;
    font-weight: 700;
}

.w-65 {
    width: 65%;
}

.imgperfil {
    width: 100px;
    position: absolute;
    z-index: 9999;
    margin-top: 3px;
}

.cambiar-imagen {
    position: absolute;
    left: 53%;
    top: 2%;
    z-index: 10000;
    color: white;
    width: auto;
}
