.modal-completo {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.7);
}

.m-content {
    background: #000000;
    margin: 15% auto;
    padding: 8px;
    border: 2px solid #fff;
    width: 478px;
    animation-name: notificar;
    animation-duration: .3s;
    border-radius: 10px;
}

.close {
    display: none;
    position: relative;
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    top: -43px;
    right: 8px;
}

    .close:hover,
    .close:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

.modalNotificar {
    width: 478px;
    height: auto;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    animation-name: notificar;
    animation-duration: .3s;
}

.modal-servicios {
    position: absolute;
    top: 7%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@keyframes notificar {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.modalAbrir {
    width: 478px;
    height: auto;
    position: fixed;
    border-radius: 20px;
    background-color: rgba(0,0,0,1);
    animation-name: abrir;
    animation-duration: 0.2s;
}

.modalImg {
    width: 56%;
    height: 68%;
    position: fixed;
    background-color: rgba(0,0,0,1);
    animation-name: abrir;
    animation-duration: 0.2s;
    z-index: 10000;
    top: 9%;
    left: 22%;
    padding: 15px;
}

    .modalImg input {
        display: block;
    }

@keyframes abrir {
    from {
        transform: scaleX(0.0);
        transform: scaleY(0.0);
    }

    to {
        transform: scaleX(1);
        transform: scaleY(1);
    }
}

.acceso {
    background-color: black;
    width: 30%;
    animation-name: notificar;
    animation-duration: 0.5s;
}

.imgAcceso {
    width: 100%;
}

.acceso-body {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acceso-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    border-top: 1px solid grey;
}
